.App {
  text-align: center;
  padding: 20px;
}


.clock {
  position: relative;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.hourHand,
.minuteHand,
.secondHand {
  position: absolute;
  transform-origin: bottom center;
}

.hourHand {
  width: 6px;
  height: 70px;
  background-color: black;
  border-radius: 4px 4px 0 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%) rotate(0deg);
}

.minuteHand {
  width: 4px;
  height: 90px;
  background-color: black;
  border-radius: 4px 4px 0 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%) rotate(0deg);
}

.secondHand {
  width: 2px;
  height: 90px;
  background-color: red;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%) rotate(0deg);
}